body {
	margin: 5px;
	padding: 5px;
	text-align: center;
	background-color: 
}


#web {
	font-family: 'Spirax', cursive;
	font-size: 50px;
	background-color: dodgerBlue;
	text-align: center;

}

#pic {
	background-color: dodgerBlue;
	text-align: center;
}